:root {
	--card-anim-duraton: 0.5s;
	--card-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -100%;
	left: 0;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.25);

	display: flex;
	align-items: center;
	justify-content: center;

	transition: top 1s ease;
}

.loader--visible {
	top: 0%;
}

.card {
}

.card--visible {
}

.card--visible img {
	-webkit-animation: flip-hor-top var(--card-anim-duraton)
		var(--card-timing-function) both;
	animation: flip-hor-top var(--card-anim-duraton) var(--card-timing-function)
		both;
}

@-webkit-keyframes flip-hor-top {
	0% {
		-webkit-transform: translateY(-100%) rotateX(-180deg);
		transform: translateY(-100%) rotateX(-180deg);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}
	100% {
		-webkit-transform: translateY(0) rotateX(0);
		transform: translateY(0) rotateX(0);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}
}
@keyframes flip-hor-top {
	0% {
		-webkit-transform: translateY(-100%) rotateX(-180deg);
		transform: translateY(-100%) rotateX(-180deg);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}
	100% {
		-webkit-transform: translateY(0) rotateX(0);
		transform: translateY(0) rotateX(0);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}
}
