:root {
	/* Global CSS variables */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-color: #EBF5EE;
}

main {
	padding: 40px;
	height: 100%;
}

button {
	padding: 1rem;
	width : 100px;
	border-radius : 10px;
	font-size: 15px;
	padding-left: 10px;
	background-color: transparent;
}

button:hover:not([disabled]) {
	background-color: #BFD1E5;
	cursor: pointer;
}