#hero {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	text-align: center;
	font-size: 32px;
}

.description {
	width: 60%;
}

@media screen and (max-width: 640px) {
	.description {
		width: 90%;
	}
}

.start{
	margin-top: 20px;
	padding: 1rem;
	width : 200px;
	border-radius : 10px;
	font-size: 15px;
	padding-left: 10px;
	background-color: transparent;
}

.start:hover {
	background-color: #BFD1E5;
	cursor: pointer;
}
