.player-ui {
}

.player-ui .player-ui__deck {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.player-ui .player-ui__actions {
}

#remaining {}

#drawn-cards {
    display: flex;
	flex-wrap: wrap;
    gap: 1rem;
	justify-items: center;
	align-items: center;
	width: 100%;
}

#draw {
}


#console {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	background-color: #83a18c;
	width : 100%;
	height: 30%;
	padding: 20px;
	font-size: 13px;
	border-radius : 10px;
}

#logger {
	width: 100%;
	padding: 10px;
	flex: 1 1 auto;
	background-color: rgba(255, 255, 255, 0.11);
	overflow-y: scroll;
	scrollbar-width: thin;
}

.title {
	text-align: center;
	font-size: 32px;
}
#count{
    margin-top: 10px;
	width : 50px;
	height: 50px;
	border-radius : 10px;
	border : 1px solid rgba(0, 0, 0, 0.205) ;
	font-size: 15px;
	padding-left: 10px;
}

.link {
    text-decoration: none;
    color: black;
}

.status--on {
	font-weight: bold;
	color: green;
}

.status--off {
	font-weight: bold;
	color: red;
}