.player-ui {
}

.player-ui .player-ui__deck {
}

.player-ui .player-ui__actions {
}

#remaining {}

#drawn-cards {
    display: flex;
    gap: 1rem;
}

#draw {
}


.console {
	margin-top: 20px;
	background-color: #83a18c;
	width : 500px;
	padding: 20px;
	font-size: 13px;
	border-radius : 10px;

} 
body {
	font-family: 'Poppins', sans-serif;
	background-color: #EBF5EE;
    padding: 40px;
}
.title {
	text-align: center;
	font-size: 32px;
}
#count{
    margin-top: 10px;
	width : 50px;
	height: 50px;
	border-radius : 10px;
	border : 1px solid rgba(0, 0, 0, 0.205) ;
	font-size: 15px;
	padding-left: 10px;
}

.link {
    text-decoration: none;
    color: black;
}