.player-ui {
}

.player-ui .player-ui__deck {
}

.player-ui .player-ui__actions {
}

#draw {
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #EBF5EE;
    padding: 40px;
}
.title {
	text-align: center;
	font-size: 32px;
}
#count{
    margin-top: 10px;
	width : 200px;
	height: 40px;
	border-radius : 10px;
	border : 1px solid rgba(0, 0, 0, 0.205) ;
	font-size: 15px;
	padding-left: 10px;
}

#draw{
	width : 100px;
	height: 40px;
	border-radius : 10px;
	border : 0px solid rgba(0, 0, 0, 0.205) ;
	font-size: 15px;
	padding-left: 10px;
	background-color: transparent;
}

#draw:hover {
	background-color: #BFD1E5;
	cursor: pointer;

}